body{
    background-color: pink;
}

h1{
    text-align: center;
    color: red;
}
#clock {
  position : absolute;
  top: 80px;
  background-color: black;
  color: white;
  display: inline-block;
  width: auto;
  padding: 0.25em 1em;
  border-radius: 5px;
}


#clock p {
  margin: 5px;
}


#clock .time-unit, #clock .separator {
  display: inline-block;
  text-align: center;
  margin: 0 0.25em;
}


#clock .time-unit .large {
  display: block;
  font-size: 2em;
}


#clock .time-unit .small {
  display: block;
  font-size: 0.5em;
}


#clock .separator {
  font-size: 2em;
  vertical-align: top;
  margin-top: -0.1em;
}


.container {
  width: 600px;
  margin: auto;
}

* {
  box-sizing: border-box;
}
 

ul {
  margin: 0;
  padding: 0;
}
 

ul li {
  cursor: pointer;
  position: relative;
  padding: 12px 8px 12px 40px;
  background: #eee;
  font-size: 18px;
  transition: 0.2s;
  list-style: none;
}
 

ul li:nth-child(odd) {
  background: #f9f9f9;
}
 

ul li:hover {
  background: #ddd;
}
 

ul li.checked {
  background: #888;
  color: #fff;
  text-decoration: line-through;
}
 

ul li.checked::before {
  content: '';
  position: absolute;
  border-color: #fff;
  border-style: solid;
  border-width: 0 2px 2px 0;
  top: 10px;
  left: 16px;
  transform: rotate(45deg);
  height: 15px;
  width: 7px;
}
 
.close {
  position: absolute;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
}
 
.close:hover {
  background-color: #f44336;
  color: white;
}
 

.header {
  background-color: #f44336;
  padding: 30px 40px;
  color: white;
  text-align: center;
}
 
.header:after {
  content: "";
  display: table;
  clear: both;
}
 

input {
  border: none;
  width: 75%;
  padding: 10px;
  float: left;
  font-size: 16px;
}
 

.addBtn {
  padding: 10px;
  width: 25%;
  background: #d9d9d9;
  color: #555;
  float: left;
  text-align: center;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}
 
.addBtn:hover {
  background-color: #bbb;
}
label {
  

  display: block;
  font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
  margin: .4rem 0;
}

.clock-container h1{
  text-align: left;
  color: black;
}
.clock-container p{
  /* text-align: right; */
  /* margin-right: 15vw; */
  font-size: 15px;
  color: blue;
  font-weight: 1800;
  font-family: 'Times New Roman', Times, serif;
}


.clock{
  display: flex;
  justify-content: flex-start;
  align-content: flex-end;
}
.clock input{
  margin-left:  13vw;
   display: inline-flex;
   justify-content: space-around;
} 

/* .abc{
  display: inline-flex;
}
.abc .abc-list{
  margin-left: 100px;
  width: 500px;
  margin-right: 50px;
}

.abc .abc-clock{

  width: 500px;
  
} */
